.acf-wrapper {
    width: 99% !important;
    padding-top: 0 !important;
    margin-top: 15px !important;
    float: left;
}
.wrap .acf-header {
    background: url('../images/header-wide.png') 0 0;
    border-radius: 5px;
    width: 100%;
    float: left;
    clear: both;
    height: 109px;
    margin-bottom: 5px;
}

.wrap #SSForm {
    clear: both;
}
.wrap .acf-header .promo-txt {
    clear: both;
    float: left;
    padding: 5px;
    margin-top: 0;
    background: #fff;
    line-height: 1;
    margin-left: 10px;
    font-weight: bold;
}
.wrap .acf-header h2 {
    color: #464646;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    background: #fff;
    float: left;
    clear: both;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
}
.wrap h2 .sct-version {
    font-size: 12px;
}

.wrap h2 .nav-tab {
    font-size: 18px;
    padding: 4px 8px 6px;
}

.wrap h2 .nav-tab.nav-tab-active {
    font-weight: bold;
    padding: 4px 12px 6px;
}
.wrap input.small-text {
    width: 360px;
}