/* Contact */
body .fcf-envelope {
    background: url(../images/envelope-bg.png) no-repeat bottom;
    width:720px;
    height:400px;
    margin: 50px auto;
    position: relative;
}
body .fcf-envelope-ft {
    background: url(../images/envelope-ft.png) no-repeat bottom;
    width: 716px;
    height: 349px;
    bottom: 0px;
    z-index: 100;
    position: absolute;
    /*border: 1px solid #000;*/

    box-shadow: 5px 5px 6px #272727;
    -webkit-box-shadow: 5px 5px 6px #272727;
    -moz-box-shadow: 5px 5px 6px #272727;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
body .fcf-contact {
    width: 100%;
    overflow: hidden;
    position: fixed;
    min-height:500px;
}
body .fcf-letter {
    background: url(../images/letter.png) repeat;
    width:700px;
    height:400px;
    margin: 0px auto;
    position: relative;
}
body .fcf-stamp {
    -webkit-transform: rotate(10deg);
    background: url(../images/stamp/photo.jpg) no-repeat 20px 20px;
    height: 154px;
    width: 134px;
    position: absolute;
    top: -30px;
    left: 60px;
}
body .fcf-stamp-borders {
    background: url(../images/stamp/stamp.png) no-repeat;
    height: 154px;
    width: 134px;
}
body .fcf-lines {
    background: url(../images/stamp/lines.png) no-repeat;
    height: 60px;
    position: absolute;
    width: 111px;
    bottom: 12px;
    left: 12px;
}
body .fcf-contact-form .left{
    width: 330px;
    height: 380px;
    float: left;
    padding:10px;
}
body .fcf-contact-form .right{
    width: 330px;
    height: 240px;
    float: right;
    padding:100px 10px 10px 10px;
}
body .fcf-contact-form label{
    width: 350px;
    min-height: 23px;
    color: #3E022F;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 0 0;
    float: left;
    text-shadow: none !important;
}
body .fcf-contact-form textarea {
    width: 320px;
    height: 325px;
    overflow: hidden;
    padding: 10px;
}
body .fcf-contact-form .input {
    width: 305px;
    height: 30px;
    padding: 5px 10px;
}
body .fcf-contact-form .textarea, .fcf-contact-form .input, .fcf-contact-form .submit {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    background: #FFF;
    outline: none;
    border: 0;
    float: left;
    text-shadow: none !important;
}
body .fcf-contact-form .textarea:focus, .fcf-contact-form .input:focus, .fcf-contact-form .submit:focus{
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}
body .fcf-contact-form .req {
    font-weight: normal;
    font-style: italic;
    font-size: 9px;
}
body .fcf-contact-success .submit-contact-button-success {
    float: right;
}

body .fcf-contact-success .submit-contact-button-success,
body .fcf-contact-form .submit-contact-button {
    text-transform: uppercase !important;
    cursor: pointer !important;
    margin: 20px 0 0 0 !important;
    float: right !important;
    margin-right: 5px !important;
    background: #e05d22 !important;
    background: -webkit-linear-gradient(top, #e05d22 0%, #d94412 100%) !important;
    background: linear-gradient(to bottom, #e05d22 0%, #d94412 100%) !important;
    border: none !important;
    border-bottom: 3px solid #b93207 !important;
    border-radius: 2px !important;
    color: #fff !important;
    display: inline-block !important;
    padding: 11px 24px 7px !important;
    text-decoration: none !important;
    text-shadow: none !important;
}

body .fcf-contact-success .submit-contact-button-success {
    float: left;
    position: absolute;
    top: 170px;
    left: 100px;
}

body .fcf-alphabet {
    width:20px;
    height:20px;
    border-radius:50px;

    position:absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

body .fcf-message{
    color:white;
    font-size:40px;
    display:none;
    text-align:center;
}

body .ajaxcontactform-show {
    position: fixed;
    width: 45px;
    height: 120px;
    left: 0px;
    top: 40%;
    z-index: 9999;
    background: url(../images/btn_feedback.png) no-repeat 0 0;
    cursor: pointer;
}

body .ajaxcontactform-show.opened {
    background: url(../images/btn_feedback_hover.png) no-repeat 0 0;
}

body #close-button-fancybox {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background: #3E022F;
    text-align: center;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
}

body .fcf-contact-success {
    display: none;
    width: 100%;
    background: transparent;
    min-height: 200px;
    top: 200px;
    position: fixed;
    z-index: 999;
}

body .fcf-contact-holder {

    margin: 0 auto;
    padding: 0px;
    position: relative;
    height: 280px;
    background: #fff;
    border: 1px solid #6B6B6B;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 280px;
    box-shadow: 5px 5px 6px #272727;
    -webkit-box-shadow: 5px 5px 6px #272727;
    -moz-box-shadow: 5px 5px 6px #272727;
}

body .fcf-confirmation {
    float: right;
    padding-top: 20px;
    margin-top: 95px;
    width: 235px;
    color: #000;
    text-shadow: none;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

body .ajaxcontactform-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    float: left;
}

body .fancyforn-window-overlay {
    display: none;
    opacity: 0.3;
    filter: alpha(opacity=30);
    background: #000;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
}

body .fcf-contact-form .textarea.notvalid,
body .fcf-contact-form .input.notvalid {
    background: #DD5F5B;
    color: #fff;
}

body .developer-copyright {
    float: right;
    height: 10px;
    line-height: 0;
    width: 115px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

body .developer-copyright span,
body .developer-copyright a{
    font-size: 9px !important;
    color: #354f87 !important;
    font-weight: normal !important;
    text-shadow: none;
    line-height: 0;
}